<div class="container">
    <div class="jumnotron">
        <h2>Programa Para Cadastro de alunos</h2>
    </div>
    <h2>Cadasto Aluno</h2>

    <div class="form-group">
        <label>Nome</label>
        <input [(ngModel)]="aluno.nome" type="text" class=" form-control" placeholder="Nome Do Aluno">
    </div>
    <div class="form-group">
        <label>Idade</label>
        <input [(ngModel)]="aluno.idade" type="number" class="form-control" placeholder="Idade Do Aluno">
    </div>
    <div class="form-grn
oup">
        <label>Sexo</label>
        <select [(ngModel)]="aluno.sexo" class="form-control">
         <option value="">Selecione o Sexo</option>
             <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
        </select>
    </div>
    <div class="form-group">
        <label>Turma</label>
        <select [(ngModel)]="tipoAluno" class="form-control">
       <option value="">Selecione o Sexo</option>
       <option value="fundamental">Fundamental</option>
      <option value="medio">Ensino Medio </option>
  </select>
    </div>
    <button (click)="escola()" class="btn-primary">Fazer Reserva</button>

<div class="mt-4"  *ngIf="alunoService.getEscola().length>0">
<tr>
<th>nome</th>
<th>Idade</th>
<th>sexo</th>
<th>nome</th>

</tr>
<h2>Alunos cadastrados</h2>

<table>
<thead>

</thead>
</table>

</div>
</div>