<div class="container">
    <div class="jumbotron">
        <h2>Programa Para Cadastro de Alunos</h2>
    </div>
    <h2>Cadastro de Aluno</h2>

    <div class="form-group">
        <label>Nome</label>
        <input [(ngModel)]="aluno.nome" type="text" class="form-control" placeholder="Nome do Aluno">
    </div>

    <div class="form-group">
        <label>Turma</label>
        <select [(ngModel)]="tipoAluno" class="form-control">
      <option value="fundamental">Fundamental</option>
      <option value="medio">Ensino Médio</option>
    </select>
        <div class="form-group">
            <label>Preço da Escola</label>
            <input type="number" class="form-control" [(ngModel)]="valorMensalidade">
        </div>
    </div>
    <button (click)="Escola()" class="btn-primary">Fazer Reserva</button>

    <div class="mt-4" *ngIf="alunoService.getEscola().length > 0">
        <table>
            <h2>Alunos cadastrados</h2>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Turma</th>
                    <th>Grau</th>
                    <th>Quantudade</th>
                    <th>Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let escola of alunoService.getEscola()">
                    <td>{{escola.aluno.nome}}</td>
                    <td>{{escola.aluno.tipo}}</td>
                    <td>{{escola.turma.turma}}</td>
                    <td>{{escola.turma.valor}}</td>
                    <td>{{escola.ValorTotal()}}</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>